@font-face {
  font-family: "Reward Font";
  src: url("../fonts/reward.ttf") format("truetype");
}
@font-face {
  font-family: "Fredericka the Great";
  src: url("../fonts/fredericka.ttf") format("truetype");
}
@font-face {
  font-family: "Yellowtail";
  src: url("../fonts/yellowtail.ttf") format("truetype");
}
@font-face {
  font-family: "Special Elite";
  src: url("../fonts/SpecialElite.ttf") format("truetype");
}
.board-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90vh;
  background-color: #f3f3f3;
  font-family: "Fredericka the Great", sans-serif;
  background-image: url("../images/sepia.jpg");
  background-size: cover;
  color: #3f201a;
}
.board-card .nail {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(160deg, rgb(172, 176, 209) 0%, rgb(54, 75, 100) 88%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.board-card .nail-top-left {
  top: 5px;
  left: 5px;
}
.board-card .nail-top-right {
  top: 5px;
  right: 5px;
}
.board-card .nail-bottom-left {
  bottom: 5px;
  left: 5px;
}
.board-card .nail-bottom-right {
  bottom: 5px;
  right: 5px;
}
.board-card .status {
  font-size: 32px;
  text-align: center;
  z-index: 3 !important;
  position: absolute;
  top: 15px;
}
.board-card .status .board-status {
  font-family: "Fredericka the Great";
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.board-card .status .red-ribbon {
  height: auto;
  width: 60%;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.board-card .board {
  background-image: url("../images/casino-table-cloth-texture.jpg");
  background-size: cover;
  border: 0;
}
.board-card .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: none;
}
.board-card .buttons .button {
  margin: 0 10px;
  font-size: 20px;
  background-color: #715c4a;
  background-image: url("../images/wood-board.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  min-width: 140px !important;
  max-height: 45px;
}
.board-card .buttons .button:hover {
  background-color: #2e1a10;
}
.board-card .buttons .button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transition: opacity 0.3s ease, cursor 0.3s ease;
}

/* @media screen and (max-width: 768px) {
  .board-container {
    padding: 10px;
  }

  .board {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 5px;
  }

  .buttons {
    button {
      font-size: 16px;
      padding: 6px 12px;
    }
  }
} */
.grid-item {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  -o-border-image: url("../images/chalk.jpg") 10 round;
     border-image: url("../images/chalk.jpg") 10 round;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-token {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=Board.css.map */