@font-face {
  font-family: "Reward Font";
  src: url("../fonts/reward.ttf") format("truetype");
}

@font-face {
  font-family: "Fredericka the Great";
  src: url("../fonts/fredericka.ttf") format("truetype");
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 20vh;
  background-image: url("../images/sepia.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 0;
  min-width: 600px;


  .nail {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(160deg, rgba(172, 176, 209, 1) 0%, rgba(54, 75, 100, 1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }

  .nail-top-left {
    top: 5px;
    left: 5px;
  }

  .nail-top-right {
    top: 5px;
    right: 5px;
  }

  .nail-bottom-left {
    bottom: 5px;
    left: 5px;
  }

  .nail-bottom-right {
    bottom: 5px;
    right: 5px;
  }

  .card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    top: 3%;
    margin-bottom: 20px !important;

    .welcome-text {
      font-family: "Reward Font";
      width: 100%;
      text-align: center;
    }
  }

  .tic-tac-toe-icon {
    height: auto;
    position: absolute;
    top: 52.5%;
    transform: translateY(-50%);
    z-index: 0;

    &.left {
      left: 10%;
      width: 30px;
    }

    &.right {
      right: 10%;
      width: 30px;
    }
  }

  .red-ribbon {
    height: auto;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 80%;
    position: relative;
    bottom: 10px;
    z-index: 0;
    border: 10;

    .info-text {
      font-family: "Fredericka the Great";
      text-align: center;
      font-weight: bold;
      font-size: 20px !important;
      margin-bottom: 10px !important;
    }
  }

  .google-button {
    font-family: "Fredericka the Great" !important;
    font-weight: bold;
    font-size: 20px !important;
    color: #090808 !important;
    background-image: url("../images/wood-board.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 16px;
    transition: background-color 0.3s ease !important;

    &:hover {
      background-color: #2e1a10 !important;
    }

    .google-button-icon {
      padding: 8px !important;
    }
  }

}