@font-face {
  font-family: "Reward Font";
  src: url("../fonts/reward.ttf") format("truetype");
}

@font-face {
  font-family: "Fredericka the Great";
  src: url("../fonts/fredericka.ttf") format("truetype");
}

@font-face {
  font-family: "Yellowtail";
  src: url("../fonts/yellowtail.ttf") format("truetype");
}

@font-face {
  font-family: "Special Elite";
  src: url("../fonts/SpecialElite.ttf") format("truetype");
}



.setup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-height: 95vh;
  max-width: 40vw;
  min-width: 450px;
  position: relative;
  background-image: url("../images/sepia.jpg");
  background-size: cover;
  color: #3f201a;

  .nail {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(160deg, rgba(172, 176, 209, 1) 0%, rgba(54, 75, 100, 1) 88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }

  .nail-top-left {
    top: 5px;
    left: 5px;
  }

  .nail-top-right {
    top: 5px;
    right: 5px;
  }

  .nail-bottom-left {
    bottom: 5px;
    left: 5px;
  }

  .nail-bottom-right {
    bottom: 5px;
    right: 5px;
  }

  .setup-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    position: relative;
    margin-top: 2vh;


    .setup-text {
      font-family: "Reward Font" !important;
      font-size: 40px;
      text-align: center;
      z-index: 1;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0vw 2vw 0vw 2vw;
      color: #2c1814;
    }

    .setting {
      width: 3vw;
      height: 3vw;
      z-index: 1;
      padding-top: 0.5vw;
    }

    .red-ribbon {
      height: auto;
      width: 30vw;
      min-width: 60%;
      position: absolute;
      z-index: 0;
    }

  }

  .user-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 1vw;


    .user-picture {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 5vw;
      position: relative;
      margin-bottom: 1vw;

      .google-avatar {
        position: absolute;
        top: 25%;
        min-height: 6vh;
        width: auto;

        z-index: 2;
      }

      .wanted-icon {
        min-height: 10vh;
        height: 13vh;
        width: auto;
        z-index: 1;
      }
    }

    .user-admin {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex: 1;

      .email-text {
        display: flex;
        font-family: "Fredericka the Great" !important;
        font-weight: bold !important;
        font-size: 20px;
        text-align: center;
        z-index: 3 !important;
        margin: 1.5vw;
      }

      .sign-out-button {
        display: flex;
        margin: 2vw;
      }


    }

    .howdy-text {
      font-family: "Reward Font" !important;
      font-size: 32px;
      text-align: center;
      z-index: 3 !important;
      position: absolute;
      top: 85%;
      color: #1e1513;
      ;
    }

  }

  .decorative-line-one {
    width: 80%;
  }

  .setup-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    position: relative;
    min-height: 40%;

    .board-size-label {
      font-family: "Fredericka the Great";
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 8px;
    }

    .board-size {
      width: 70% !important;
    }

    .MuiSlider-root {
      width: 300px;

      color: rgb(173, 108, 46);

      .MuiSlider-thumb {
        background-color: rgb(103, 106, 124)
      }

      .MuiSlider-mark,
      .MuiSlider-markLabel {
        background-color: rgba(172, 176, 209, 1)
      }

      .MuiSlider-markLabel {
        color: rgba(172, 176, 209, 1)
      }
    }


    .MuiTextField-root {
      display: block;
      margin-bottom: 16px;
    }

    .player-settings {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      width: 100%;
      position: relative;
      height: 25vh;
      min-height: 150px;

      .player-one-settings,
      .player-two-settings {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
      }

      .player-1-token,
      .player-2-token {
        font-family: "Fredericka the Great";
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 8px;

      }

      .player-one-name,
      .player-two-name {
        .MuiOutlinedInput-root {
          fieldset {
            border-color: rgb(103, 106, 124);
            border-style: dashed;
          }

          &:hover fieldset {
            border-color: rgb(103, 106, 124)
          }

          &.Mui-focused fieldset {
            border-color: #3d312c
          }
        }

        .Mui-focused {
          color: #3f3636
        }

        .MuiInputLabel-root {
          font-family: "Fredericka the Great";
          font-weight: bold;
        }

        .MuiInputBase-input {
          font-family: 'Special Elite';
        }

      }

      .player-typography {
        font-family: "Fredericka the Great";
        font-weight: bold;
      }
    }

    .start-button {
      margin-bottom: 2vh
    }
  }
}

button {
  font-family: "Fredericka the Great" !important;
  font-weight: bold !important;
  font-size: 20px !important;
  color: #280e0e !important;
  background-image: url("../images/wood-board.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 4vw 8vw;
  transition: background-color 0.3s ease !important;

  &:hover {
    background-color: #2e1a10 !important;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transition: opacity 0.3s ease, cursor 0.3s ease;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(103, 106, 124)
}