.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #aaa7a7;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 30px;
  width: 30px;
}

.cell.X {
  color: #ff5e5e;
}

.cell.O {
  color: #75baff;
}